# Terraform files
.terraform/               # Diretório com plugins e cache
*.tfstate                # Arquivos de estado
*.tfstate.*              # Arquivos de estado temporários
*.tfvars                 # Arquivos de variáveis sensíveis
.terraform.lock.hcl      # Lock file de providers
terraform.tfstate.backup # Backup do estado
.terraform.tfstate.lock.info # Lock do estado
terraform.tfvars

# azure
azurerm
random

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db